@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    max-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.sidebar {
    position: relative;
    height: 100vh;
    width: 30vw;
}

.footer {
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7em;
}

.sidebar-img {
    position: relative;
    height: 100vh;
    width: 100%;
}

.odin {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 15vh;
    display: inline-flex;
    left: 0;
    justify-content: center;
    align-items: center;
    top: 20%;
    padding: 10px 0;
}

.odin-text {
    font-size: 90px;
    color: white;
    font-family: Norse-Bold;

}

.odin-logo {
    height: 120px;
    width: auto;

}

a {
    color: white;
}


.main {
    flex-grow: 1;
    position: relative;
}

.text-container {
    width: 50vw;
    padding: 10vh 0 0 3vw;
}

p.text {
    font-weight: 600;
    font-size: 1.4rem;
}

.login-text {
    padding: 0 3vw;
}

.login-page {
    position: absolute;
    background-color: #fff;
    height: 35vh;
    width: 100%;
    top: 36vh;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.form-container,
form {
    display: flex;
    gap: 4vw;
    width: 45%;
    height: 70%;
}

.form-container {
    padding-left: 3vw;
}

.left-forms,
.right-forms {
    flex: 1;
}

.left-forms>div,
.right-forms>div {
    margin: 10px 5px;
}

input:focus {
    outline: blue solid 1px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
}

input {
    border-radius: 3px;
    border: #E5E7EB 1px solid;
}

#password:invalid,
#confirmpassword:invalid {
    border: red 1px solid;
}

label {
    font-size: 0.7em
}

.buttons {
    position: relative;
    top: 340px;
    margin: 0px 0 0 3vw;
}

.create-button {
    position: fixed;
    background-color: #596D48;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
    width: 180px;
    font-weight: bold;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    bottom: 21%;
}

span {
    position: fixed;
    bottom: 17%;
}

span a {
    color: #596D48;
    text-decoration: none;
}

.footer {
    color: black
}

.footer a {
    color: black
}

#github-icon {
    height: 15px;
    width: auto;
    position: absolute;
    bottom: 35px;
    left: 82px;
}